body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
}

.title,
.content,
.button-container {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  background: #e3f4ff;
}

.title {
  font-weight: bold;
}

.button-container {
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 112px;
}